<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crown Security</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Allerta+Stencil" />

    <!-- JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body class="page-background">

    <!-- CONTENT -->
    <div id="content">

        <div class="container intro_container">
            <p id="intro_fo">Force One Security </p>
            <p id="intro_mid">has been change to</p>
            <p id="intro_cs">crown security</p>
            <a href="aboutus" id="intro_enter">Enter</a>
        </div>



    </div>


</body>
</html>